@media screen and (max-width: 1440px) {
    .nike-photo {
        width: 100%;
        height: auto;
        background-size: cover;
    }
    
    .about-service__content-p, .poizon-to-russia__img {
        padding-left: 15px;
    } 

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 800px));
        grid-template-rows: repeat(41, minmax(50px, 2%)); 
    }

    .grid_margin {
        margin-bottom: 70px;
    }

    .grid__item_transparent {
        grid-row: 1 / 7;
    }

    .grid__item_white {
        grid-row: 8 / 17;
    }

    .grid__item_purple {
        grid-row: 18 / 31;
    }

    .grid__item_turquoise {
        grid-row: 32 / 42;
    }

    .why-as__stages-img_pink {
        top: 3100px;
        height: 161px;
    }

    .why-as__delivery {
        height: 400px;
        top: 3180px;
    }

    .stages {
        width: 90%;
        padding-right: 0;
    }
    
    .stages_margin {
        margin: 0 auto;
    }

    .stages__step_img {
        justify-content: center;
    }

    .stages__step_img-orange {
        position: static;
        height: 161px;
        rotate: 17deg;
    }
}

@media screen and (max-width: 960px) {
    .about-service {
        height: auto;
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-rows: repeat(20, minmax(clamp(8px, 4vw, 20px), 1fr));
        grid-template-columns: 1fr auto 1fr;
        padding-bottom: 0;
    }

    .poizon-to-russia__img {
        padding-left: 15px;
    } 

    .about-service__content {
        padding-top: 0;
        align-items: center;
        padding-top: clamp(10px, 3vw, 35px);
        grid-column: 1 / 4;
        grid-row: 1 / 21;
    }

    .about-service__content-p {
        text-align: center;
        padding-left: 0;
        margin-top: clamp(22px, 5.2vw, 50px);
    }

    .why-as__wrapper {
        border-radius: 35px;
    }

    .nike-photo {
        height: 47.6vw;
        border-radius: 10px;
    }

    .tg-link_margin {
        margin-top: min(13vw, 120px);
    }

    .tg-link {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
        box-shadow: 0 0 20px 6px #ffffffd7;
        grid-row: 31 / 35;
        grid-column: 1 / 4;
    }

    .tg-link-wrapper__text {
        font-size: clamp(16px, 3.8vw, 20px);
        width: 100%;
    }

    .tg-link-wrapper img {
        width: min(15vw, 60px);
        height: min(15vw, 60px);
    }

    .stages__step_img {
        justify-content: center;
    }

    .why-as__delivery {
        display: none;
    }

    .why-as__stages-img_pink {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .about-service__content-p {
        flex: 100%;
        width: clamp(304px, 80%, 534px);
        margin-top: clamp(12px, 4.2vw, 22px);
    }

    .grid {
        padding: 0;
    }

    .nike-photo {
        height: 54vw;
    }

    .tg-link-wrapper__text {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        font-size: clamp(14px, 1.091rem, 22px);
    }

    .tg-link-wrapper  {
        padding-top: 40px;
        justify-content: center;
    }

    .grid__item {
        padding: min(4vw, 40px) clamp(20px, 10vw, 120px) 14px 30px;
    }

    .grid__item-img-25percent {
        bottom: 20px;
        right: 0;
        height: 250px;
    }

    .grid__item-poizon-boxes {
        padding-bottom: min(16vw, 40px);
        padding-left: 0;
        height: 75vw;
    }
}