@media screen and (max-width: 1440px) {
    .body__wrapper {
        min-height: 1600px;
    }

    .main__container {
        max-width: 960px;
        min-height: 1300px;
    }

    .about-store__text {
        font-size: 30px;
    }

    .sneakers.active {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
        /* padding-top: 190px; */
    }

    .sneakers__item {
        padding: 20px 0px 10px 22px;
    }

    .sneakers__item-name {
        font-size: 20px;
    }

    .sneakers__item-cost {
        font-size: 22px;
    }

    .sneakers__item-sneaker {
        height: 100px;
    }

    .forward-back-arrow {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 768px) {
    .about-store {
        padding-bottom: 100px;
    }

    .filters__wrapper {
        flex-direction: column;
    }

    .filters-list {
        flex-direction: column;
    }

    .filters-list__item, .filters-ready-button {
        margin-bottom: 24px;
        width: 180px;
    }

    .filters-ready-button {
        height: 50px;
    }

    .filters-list__item.filter-active, 
    .filters-list__item.filter-active,
    .filters-list__item.filter-active {
        display: flex;
    }

    .filters-list__item:last-of-type {
        margin-right: 40px;
    }

    .filters-list__item_brand, .filters-list__item_cost, .filters-list__item_size {
        display: none;
    }

    .filters-list__item_filters-icon {
        display: flex;
    }

    #brand, #select-cost, #size {
        left: 0
    }

    .sneakers__item {
        padding: 29px 10px 12px 12px;
        border-radius: 16px;
    }

    .sneakers__item-name {
        font-size: 20px;
    }

    .sneakers__item-cost {
        font-size: 22px;
    }

    .sneakers__item-sneaker {
        height: 80px;
    }

    .select-filter__margin {
        margin-top: 0px;
    }

    .forward-back-arrow {
        padding: 0px;
    }
}

@media screen and (max-width: 590px) {
    .sneakers.active {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .sneakers__item-sneaker {
        height: clamp(80px, 20vw, 100px);
    }

    .sneakers__item-text {
        height: 110px;
    }

    .back-arrow, .forward-arrow {
        height: 40px;
    }
}

@media screen and (max-width: 400px) {
    .sneakers.active {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-template-rows: repeat(1, 1fr);
        justify-items: center;
    }

    .sneakers__item {
        padding: 29px 8px 8px 30px;
    }

    .sneakers__item-name {
        font-size: 24px;
    }

    .sneakers__item-cost {
        font-size: 26px;
    }

    .sneakers__item-sneaker {
        height: min(37.5vw, 130px);
    }

    .about-store {
        padding-bottom: 130px;
    }

    .about-store__store {
        height: 140px;
        position: relative;
        rotate: 17deg;
        align-self: center;
    }

    .about-store__text {
        font-size: 25px;
        width: 105%;
        align-self: center;
    }

}