.overlay.active {
    display: block; 
}

.body__wrapper {
    min-height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {

}

.main__container {
    max-width: 974px;
    padding: 20px;
    margin: 0 auto;
    min-height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.answer-for-questions {
    font-family: var(--font10);
    font-weight: 400;
    font-size: 55px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    width: 85%;
}

.questions {
    width: 100%;
    margin: 0 auto;
    padding-top: 82px;
}

.question-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    width: 100%;
    position: relative;
    border-radius: 18px;
    background: rgba(167, 100, 255, 0.75);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.question__text {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #fff;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
}

.answer {
    position: relative;
    border-radius: 12px;
    background: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
    display: none;
    opacity: 0;
    max-width: 892px;
}

.question.active + .answer {
    opacity: 1;
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
    transform: translateY(0)
}

.answer__text {
    font-family: var(--font4);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #000;
}

.arrow {
    transition: transform .2s ease-in-out;
}

.question.active .arrow {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
}

.red-cross {
    position: absolute;
    top: 10px;
    right: 10px;
}

.red-cross:active {
    transform: scale(0.96);
}

.feedback {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__title {
    font-family: var(--font3);
    font-weight: 500;
    font-size: 44px;
    letter-spacing: -0.02em;
    color: #fff;
}

.feedback-button {
    cursor: pointer;
}

.feedback-button.disactive {
    display: none;
}

.feedback-button:active {
    transform: scale(0.96);
}

.feedback__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    display: none;

    height: 535px;
    border-radius: 19px;
    background: #3BC5BC;
    padding: 19px 30px 39px 30px;
    position: relative;
    z-index: 4; 
}

.feedback__form.active {
    display: flex;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.feedback__form-input, .feedback__form-textarea {
    border-radius: 5px;
    background: #fff;
    outline: none;
    caret-color: black;
    border: none;
    font-family: var(--font11);
    color: #3e3e3e;
    font-size: 18px;
    padding: 17px 8px 4px 8px;
}

.feedback__form-input {
    height: 40px;
}

.feedback__form-input-submit {
    border-radius: 5px;
    background: #fff;
    outline: none;
    caret-color: black;
    border: none;
    color: white;
    background-color: #a764ff;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
}

.feedback__form-textarea {
    padding-top: 10px;
    height: 200px;
    resize: none;
    line-height: 1;
}

.red-cross {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .body__wrapper {
        min-height: 1300px;
    }

    .main__container {
        padding-top: 20px;
        max-width: 600px;
        min-height: 1000px;
    }

    .questions {
        padding-top: 60px;
    }

    .question {
        padding: 18px;
    }

    .question__text {
        font-size: 20px;
    }

    .arrow {
        height: 18px;
    }

    .answer-for-questions {
        font-size: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .main__container {
        padding-top: 75px;;
    }

    .answer-for-questions {
        font-size: 32px;
        width: 100%;
    }
}